.gridBox {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.todoHeader {
  background-color: rgba(168, 233, 254, 0.6);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

.todoWrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 70%;
  gap: 12px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  flex: 30%;
  gap: 12px;
}



.addButton {
  text-align: center;
}

.removeButton {
  align-self: flex-end;
  margin-top: -12px;
}