.disabledButton{
    width: 284px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    border-color: #000000;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    opacity: 0.3;
}

.commonButton{
    width: 284px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    border-color: #000000;
    border-radius: 15px;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.commonButton:hover{
    background-color:azure;
}